.name {
    font-size: 3rem !important;
}

.tagline {
    font-size: 1.5rem;
    font-weight: 300;
}

.about-plate {
    background: whitesmoke !important;
}

.about-profile-image {
    width: auto !important;
}

.headinz::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100% !important;
    background: #1d5058;
    position: absolute;
    left: 0;
    top: 0;
}

.overview-section .item-title {
    font-size: 1rem !important;
}

@media only screen and (min-width: 1200px) {
    .profile-teaser .about-profile-image {
        max-width: 400px !important;
    }
}

@media only screen and (min-width: 991.98px) {
    .profile-teaser .profile-image {
        max-width: 250px !important;
    }
}

/* @media only screen and (max-width: 600px) {
   .profile-image {
        max-width: 250px !important;
        border-radius: 200px !important;
    }
} */

@media only screen and (max-width: 991.11px) {
    .profile-teaser{
         display: flex !important;
         flex-direction: column-reverse !important;
     }
 }

 @media only screen and (min-width: 991.98px) {
    .about-profile-teaser .about-profile-image {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
   .about-profile-image {
        max-width: 250px !important;
        border-radius: 200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
       
    }
    .image-about-plate {
        display: flex !important;
        align-items: center !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 991.11px) {
    .about-profile-teaser{
         display: flex !important;
         flex-direction: column-reverse !important;
     }
 }