.form-control {
    background: none !important;
    border-width: 0px !important;
}

.allContact-input {
    border-radius: 10px !important;
background: #ffffff !important;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff !important;
}

.whatsapp 
{
    background: #25d366 !important;
    position: fixed !important;
    width: 60px !important;
    height: 60px !important;
    bottom: 70px !important;
    right: 40px !important;
    color: #fff !important;
    border-radius: 50px !important;
    text-align: center !important;
    font-size: 30px !important;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px !important;
}

@media only screen and (max-width: 767px) {
    .whatsapp-icon{
        margin-top: 10px;
    }
}