.resume-profile-image {
    max-width: 120px !important;
}

.resume-handles {
    color: black !important;
    font-size: 1.5rem !important;
}

ul {
    margin-left: 0 !important;
    padding-left: 15px !important;
}

.resume-container {
    height: 100%;
}

.resume-wrapper {
    margin-bottom: 0 !important;
}

.resume-download-plate {
    background: whitesmoke !important;
}

.resume-contact {
    padding-left: 5px !important;
}

.relative-heading {
    color: rgb(20, 63, 80) !important;
}

.item-title {
    font-size: 1rem !important;
}

.resume-main {
    border-right: 1.85px solid rgb(228, 228, 228) !important;
}

.resume-contact-plate {
    border-left: 1.85px solid rgb(228, 228, 228) !important;
}

.resume-link {
    font-size: 0.8rem !important;
}

@media only screen and (max-width: 768px) {
    .resume-contact-plate {
        border: none !important;
    
    }
    .resume-link {
        font-size: 0.7rem !important;
    }
    
}

@media only screen and ( max-width: 768px){
    .resume-social-list {
        display: block!important;
        flex-direction: column !important;
        text-align: start !important;
        padding-left: 0 !important;

    }
}

@media only screen and (max-width: 991.98px) {
    .resume-main {
        border: none !important;
    }
}